
.BookmarkRow {
    padding: 8px;
    padding-bottom: 0px;
    scroll-snap-align: start;
}

.BookmarkContainer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: top;
    background-color: rgb(223, 221, 221);
    border-radius: 6px;
}


.BookmarkContainer .cmdIcon {
    display: none;
}

.BookmarkContainer:hover .cmdIcon {
    display: block;
}

.BookmarkLayout {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 8px;
    align-items: center;
}

.BookmarkTitle {
    font-size: 1.1rem;
    font-weight: bold;
}

.BookmarkCategorie {
    color: rgb(4, 122, 154);
}

.BookmarkCommandPanel {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
}
.webicon{
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: contain;
}
.grand{
    width: 65px;
    height: 65px;
}
.BookmarkdeleteForm {
    margin: 20px;
}
.x{
    width: 20px;
}